body {
  background: black;
  color: white;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  gap: 30px;
  padding: 15px;
}

.navbar a {
  color: gray;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  color: white;
}

.navbar a.active {
  color: limegreen;
}
